.app-container{
    height: 90vh;
}

.title-app{
    background-color: skyblue;
    color: white;
    font-size: 2rem;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-title-app{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding-inline:1rem;
    margin: auto;
    width: 80%;
    border-radius:5rem;
    position: relative;
    top: -3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h3{
    font-size: 1.5rem;
    border-radius:5rem;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
width: 100%;
display: flex;
justify-content: center;
align-items: center;
height: 3rem;
}